<div class="container">
    <div class="media mt-4">
        <img src="<%= @question.gravatar %>" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0"><%= @question.email %> asked:</h5>
            <p><%= @question.body %></p>
            <div>
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#new-answer-modal" role="button">Submit new Answer</a>
            </div>
            <% @answers.each do |answer| %>
            <div class="media mt-3">
            <a class="mr-3" href="#">
                <img src="<%= answer.gravatar %>" class="mr-3" alt="...">
            </a>
            <div class="media-body">
                <h5 class="mt-0"><%= answer.email %> answered:</h5>
                <p><%= answer.body %></p>
            </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<%= render 'new_answer_form' %>