<div class="container">
    <h1>Welcome to my first app</h1>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <ul class="list-unstyled">
    <% @questions.each do |q| %>
        <li class="media my-4">
            <img src="<%= q.gravatar %>" class="mr-3" alt="...">
            <div class="media-body">
            <h5 class="mt-0 mb-1"><%= q.email %> asked:</h5>
            <%= time_ago_in_words q.created_at %>
            <p><%= q.body %></p>
            <div>
                <a href="<%= question_path(q) %>" class="btn btn-secondary btn-sm" role="button">View Answers</a>
            </div>
            </div>
        </li>
        <% end %>
    </ul>
</div>